@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  background-color: rgba(211, 211, 211, 0.301);
}

:root {
  --first-color: hsl(179, 62%, 43%);
  --sec-color: hsl(71, 73%, 54%);
  --third-color: hsl(179, 62%, 70%);
  --font: "Karla", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.first__header {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--first-color);
  word-wrap: break-word;
}

.sec__header {
  font-family: "Karla", sans-serif;
  font-size: 24px;
  color: var(--sec-color);
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.container1__row1 {
  display: flex;
  flex-direction: column;
  padding: 44px;
  background-color: white;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container1__row2 {
  display: flex;
  flex-direction: column;
  padding: 44px;
  width: 50%;
  background-color: var(--first-color);
}

.container2__row2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 44px;
  background-color: var(--third-color);
}

.row1__row2 {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.signup__button {
  width: 100%;
  height: 40px;
  margin: 16px 0px;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 700;
  color: white;
  background-color: var(--sec-color);
  border-style: none;
  cursor: pointer;
}

.signup__button:hover {
  color: var(--first-color);
  transition: ease-in-out, ease-out;
  transition-duration: 0.5s;
}

.signup__button:active {
  background-color: yellow;
}

@media only screen and (max-width: 375px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container1__row2,
  .container2__row2,
  .container1__row1 {
    width: 90%;
  }
}
